<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h3>The below files has details and complete profile of the rsids and snp through MPRA.</h3>
    <p>Click download to download the zip of the files.<p>

    <p>
       <a href="{{ url_for('.download_files') }}">Download</a>
     </p>
  </body>
</html>

<!--
<head><title>Test</title>
    <meta charset=utf-8> </head>
    <body>
        <h1>My Website</h1>
         <form action="/my-link/">
            <input type="submit" value="Click me" />
        </form> -->
        <!-- <form action="/my-link/">
          <input type="file" id="myFile" name="filename">
          <input type="submit" value=" Run Script " onclick="goPython()">
        </form>
        <button> <a href="/my-link/">Click me</a></button>

    </body> -->
